<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the Twitter Stream</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the Twitter Stream</h1>
  </body>
</html>
