<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the Twitter Stream</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the Twitter Stream</h1>
    <h2>Displaying Tweets for <span id="search-term"></span></h2>

    <div style="width: 100%" class="text-center">
      <form action="/" name="search">
        <div class="form-group">
          <input type="text" class="form-control">
        </div>
        <input type="submit" class="btn btn-default">
      </form>

      <button id="toggle-button" class="btn btn-warning text-center" onclick="toggleStream()"></button>
      <button id="toggle-button" class="btn btn-danger text-center" onclick="clearTweets()">Clear</button>
      <hr/>

      <div id="tweet-container"></div>
    </div>

  </body>

  <script type="text/javascript" src="/javascripts/jquery.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/socket.io.js" defer></script>
  <script type="text/javascript" src="/javascripts/twitter.js" defer></script>

</html>
